[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "pytorch"

[packages]
torch = {version="*", index="pytorch"}
torchvision = {version="*", index="pytorch"}
torchaudio = {version="*", index="pytorch"}
tensorflow = {version = "==2.14.0"}
transformers = "*"
fastapi = "*"
langchain = "*"
langchain-google-genai = "*"
sentence-transformers = "*"
pydub = "*"
google-auth = "*"
google-cloud-storage = "*"
elasticsearch = "*"
python-dotenv = "*"
uvicorn = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
faster-whisper = "*"
huggingface-hub = "*"
mediapipe = "*"
inaspeechsegmenter = "*"
langchain-text-splitters = "*"
moviepy = "*"
scikit-learn = "*"
zstandard = "*"
nltk = "*"
gensim = "*"
faststream = {extras = ["redis"], version = "*"}
langchain-openai = "*"
jinja2 = "*"
weasyprint = "*"
matplotlib = "*"
langchain-elasticsearch = "*"
langchain-huggingface = "*"
wordcloud = "*"
plotly = "*"
pandas = "*"
colour = "*"
python-pptx = "*"
langserve = {extras = ["server"], version = "*"}

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.9"
