[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
langchain = "*"
langchain-google-genai = "*"
langchain-openai = "*"
langchain-huggingface = "*"
langchain-text-splitters = "*"
google-auth = "*"
google-cloud-storage = "*"
pydub = "*"
moviepy = "*"
elasticsearch = "*"
python-dotenv = "*"
huggingface-hub = "*"
nltk = "*"
pandas = "*"
faststream = {extras = ["redis"], version = "*"}
ffmpeg-python = "*"
uvicorn = {extras = ["standard"], version = "*"}
fuzzywuzzy = "*"
python-levenshtein = "*"
zstandard = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.9"
