[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = {version = "==2.14.0"}
fastapi = "*"
langchain = "*"
langchain-google-genai = "*"
pydub = "*"
google-auth = "*"
google-cloud-storage = "*"
elasticsearch = "*"
python-dotenv = "*"
uvicorn = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
huggingface-hub = "*"
mediapipe = "*"
inaspeechsegmenter = "*"
langchain-text-splitters = "*"
moviepy = "*"
zstandard = "*"
nltk = "*"
faststream = {extras = ["redis"], version = "*"}
langchain-openai = "*"
langchain-elasticsearch = "*"
langchain-huggingface = "*"
pandas = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.9"
